# Xcode
.DS_Store
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
DerivedData/
.build/

# Xcode Project
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Build
build/
*.o
*.linkFileList
*.hmap

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Pods/
*.xcworkspace
!default.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code Injection
*.injected.swift

# App specific
build/